.login-container {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .logo {
        color: teal;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
}


.loginBtn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: teal;
    cursor: pointer;
}


.failure {
    color: red;
    font-size: 12px;
    text-align: center;
}

.loginCancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}